/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-white: #fff !important;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
}

ion-app {
  /* max-width: 800px; */
  width: 100%;
  margin: 0 auto;
}

.hide {
    display: none !important;
}

ion-item {
  padding: 0 !important;
}

ion-spinner {
  --color: #fff !important;
}

ion-fab-button {
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

h1, h2, h3, h4, h5, h6, ion-title, ion-spinner {
  color: #fff !important;
}

button > span {
  color: #fff !important;
}

@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}